* {
  font-family: monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.form-inner {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.form-inner textarea{
    resize: none;
    min-height:150px;
}